:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --main-background-color: #fff;
  --herofooter-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --white-color: #ffffff;
}

/* styles for index.html */

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container nav {
  display: flex;
  align-items: center;
}
header .logo {
  margin-right: 93px;
}
.logo {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.site-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-item:not(:last-child) {
  margin-right: 50px;
}
.address-item:not(:last-child) {
  margin-right: 50px;
}
address {
  margin-left: auto;
}

.web {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}

.hero {
  background-color: var(--herofooter-background-color);
  padding-bottom: 200px;
  padding-top: 200px;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero .hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about .about-us {
  display: flex;
}
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-list {
  width: 270px;
}
.about-list:not(:last-child) {
  margin-right: 30px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.about-us-images {
  display: flex;
  justify-content: space-between;
}
.about-images {
  padding-bottom: 94px;
}
.about-title,
.team-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  align-items: center;
  margin-bottom: 50px;
}
.about-item {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background-color);
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-text-color);
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
}
.footer {
  background-color: var(--herofooter-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.studio {
  color: var(--white-color);
}
.contacts {
  margin-top: 20px;
}
.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* styles for portfolio.html */
.btn-portfolio {
  color: var(--secondary-text-color);
  background-color: var(--team-background-color);
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.portfolio-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.buttons {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.buttons > li:not(:last-child) {
  margin-right: 8px;
}
.portfolio-card {
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.gallery {
  margin-top: 94px;
  margin-bottom: 94px;
}
.portfolio-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
